<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Application home')" lang="en">
        <meta charset="UTF-8" />
        <title>Home</title>
    </head>
    <body>
        <div class="card mb-2" th:fragment="postformat(postparameter)">
            <div class="card-header text-white" style="background-color: rgb(0, 130, 130);">              
                <div class="row">
                    <div class="col-2">
                        <div th:text="${#temporals.format(postparameter.timestamp, 'yyyy-MM-dd HH:mm')}">timestamp</div>
                    </div>
                    <div class="col">
                        <div th:replace="fragments/connections :: whitelink(username=${postparameter.poster.username})">Poster</div> 
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-2">
                        <img class="img-responsive img-thumbnail mb-2" th:src="@{/user/{pusername}/profilepic(pusername=${postparameter.poster.username})}" style="object-fit: cover; overflow: hidden; height: 10vw; width: 10vw;"/>
                    </div>
                    <div class="col">                       
                        <p th:text="${postparameter.content}">Content</p>
                    </div>
                </div> 
                <div class="row mb-0">
                    <div class="col">                       
                        <form th:action="@{/home/likepost/{postid}(postid=${postparameter.id})}" method="POST">
                            <div class="form-group mb-0">
                            <button type="submit" class="btn btn-success"><span th:text="${postparameter.likes}">Likes</span> Like</button>
                            </div>                       
                        </form>                        
                    </div> 
                <div class="col">
                        <div class="text-right">
                            <button class="btn btn-dark text-center" type="button" data-toggle="collapse" data-target="#writeComment" aria-expanded="false" aria-controls="collapseExample">
                                Write comment
                            </button>
                        </div>
                    </div>
                </div>           
            </div>
            <div class="card-footer" style="background-color: rgb(166, 214, 214)">   
                <div class="text-center">
                    <div class="collapse" id="writeComment">
                    
                        <form th:action="@{/home/{postid}/comment(postid=${postparameter.id})}" method="POST">
                            <div class="form-group mb-2">
                                <textarea name="commentcontent" class="form-control mb-2" placeholder="Write your comment here"></textarea>
                                <button type="submit" class="btn btn-info">Submit comment</button>
                            </div>
                        
                        </form> 
                    </div>
                </div>

                <div th:each="comment : ${postparameter.comments}">
                    <div th:replace="fragments/board :: commentformat(commentparameter=${comment})">Comment</div>
                </div>
            </div>
        </div>
        </div>

        <!--Comment fragment-->
        <div class="card border-light mb-1 w-75 mx-auto" th:fragment="commentformat(commentparameter)">
            <div class="card-header text-white" style="background-color: rgb(0, 130, 130)">              
                <div class="row">
                    <div class="col-3">
                        <div th:text="${#temporals.format(commentparameter.timestamp, 'yyyy-MM-dd HH:mm')}">timestamp</div>
                    </div>
                    <div class="col">
                        <div th:replace="fragments/connections :: whitelink(username=${commentparameter.poster.username})">Poster</div> 
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                <div class="col-2">
                    <img class="img-responsive img-thumbnail mb-2" th:src="@{/user/{pusername}/profilepic(pusername=${commentparameter.poster.username})}" style="object-fit: cover; overflow: hidden; height: 5vw; width: 5vw;"/>
                    <form th:action="@{/home/likecomment/{commentid}(commentid=${commentparameter.id})}" method="POST">
                        <div class="form-group mb-0">
                        <button type="submit" class="btn btn-success"><span th:text="${commentparameter.likes}">Likes</span> Like</button>
                        </div>                       
                    </form>                        
                </div>
                <div class="col">
                     <p th:text="${commentparameter.content}">Content</p>
                </div>
            </div>
            </div>
        </div>


        <!--Fragment for general layout of skills-->
        <div class="card mb-2" th:fragment="skillformat(skillparameter)">        
                    <div class="card body" style="background-color: rgba(0, 182, 182, 0.5);">
                        <h5 class="card-title" th:text="${skillparameter.description}">Skill description</h5>                                       
                        <span th:unless="${currentuser == currentprofileaccount.username}">
                            <p class="card-text text-muted">Do you want to recommend this skill?</p>
                            <form th:action="@{/user/{username}/{skillid}(username=${skillparameter.user.username}, skillid=${skillparameter.id})}" method="POST">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="recommendationdescription" placeholder="write recommendation"/>
                                </div>
                                <button type="submit" class="btn btn-dark mb-2">Post recommendation</button>               
                            </form>
                        </span>
                    </div>
                                    
                    <ul class="list-group list-group-flush">
                        <div th:each="recommendation : ${skillparameter.recommendations}">
                            <div th:replace="fragments/board :: recommendationformat(recommendationparameter=${recommendation})"></div>
                        </div>
                    </ul>      
        </div>    
    

        <!--Fragment for general layout of recommendations-->
        <span class="list-group-item text-center" th:fragment="recommendationformat(recommendationparameter)">
            <div class="row bg-light">
                <div class="col text-center mb-2">
                    <div th:replace="fragments/connections :: link(username=${recommendationparameter.poster.username})">Poster</div>
                </div>
            </div>    
            <div class="row">
                <div class="col">
                    <p th:text="${recommendationparameter.description}">Recommendation description</p>
                </div>
            </div>
        </span>

        <!--Received request parameter-->
        <div th:fragment="receivedformat(requestparameter)">
            
            <div th:replace="fragments/connections :: searchresultlink(username=${requestparameter.sender.account.username})">link</div>
            
            <td scope="col" class="align-middle" th:text="Received">Received</td>
            <td>
                <form th:action="@{/connections/{requestid}/accept(requestid=${requestparameter.id})}" method="POST">
                    <button type="submit" class="btn btn-default">Accept</button>
                </form>
            </td>
            <td>
                <form th:action="@{/connections/{requestid}/decline(requestid=${requestparameter.id})}" method="POST">
                    <button type="submit" class="btn btn-default">Decline</button>
                </form>
            </td>
        </div>


        <div th:fragment="sentformat(requestparameter)">
            <div th:replace="fragments/connections :: searchresultlink(username=${requestparameter.receiver.account.username})">link</div>
            <td scope="col" th:text="Sent">Sent</td>
            <td scope="col"></td>
            <td scope="col"></td>
        </div>

        <div th:fragment="connectionformat(connectionparameter)">
            <td scope="col" th:text="${connectionparameter}">Username</td>
            <td>
                <form th:action="@{/connections/{username}/remove(username=${connectionparameter})}" method="POST">
                    <button type="submit" class="btn btn-default">Remove connection</button>
                </form>
            </td>
        </div>
    </body>