<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Application home')" lang="en">
        <meta charset="UTF-8" />
        <title>Home</title>
    </head>
    <body>
        <!--Fragment for general layout of posts-->
        <section th:fragment="postformat(postparameter)" class="container" style="padding: 10px">
            <div class="row" style="background-color:aquamarine">
                <div class="col-2">
                    <p th:text="${#temporals.format(postparameter.timestamp, 'yyyy-MM-dd HH:mm')}">Timestamp</p>
                </div>
                <div class="col">
                    <div th:replace="fragments/connections :: link(username=${postparameter.poster.username})">Poster</div>
                </div>  
            </div>
            <div class="row" style="background-color:aquamarine">
                <div class="col-2">
                    <form th:action="@{/home/likepost/{postid}(postid=${postparameter.id})}" method="POST">
                        <div class="form-group">
                            <button type="submit" class="btn">Like</button>
                        </div>
                        <p th:text="${postparameter.likes}">likes</p>
                    </form>
                </div>
                <div class="col-6">
                    <p th:text="${postparameter.content}">Content</p>
                </div>
                <div class="col">
                    
                    <form th:action="@{/home/{postid}/comment(postid=${postparameter.id})}" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="commentcontent" placeholder="Write comment">
                        </div>
                        <button type="submit" class="btn btn-default">Submit comment</button>
                    </form>
                    
                </div>
                
            </div>
            <div th:each="comment : ${postparameter.comments}">
                <div th:replace="fragments/board :: commentformat(commentparameter=${comment})">Comment</div>
            </div>
        </section>

        <!--Fragment for general layout of comments-->
        <span th:fragment="commentformat(commentparameter)">
            <div class="row" style="background-color: aquamarine;">
                <div class="col-3"></div>
                <div class="col-2" style="background-color: darkseagreen;">
                    <p th:text="${#temporals.format(commentparameter.timestamp, 'yyyy-MM-dd HH:mm')}">Timestamp</p>
                </div>
                <div class="col" style="background-color: darkseagreen;">
                    <div th:replace="fragments/connections :: link(username=${commentparameter.poster.username})">Poster</div>
                </div>
            </div>
            <div class="row" style="background-color: aquamarine;">
                <div class="col-3"></div>
                <div class="col-2" style="background-color: darkseagreen;">
                    <form th:action="@{/home/likecomment/{commentid}(commentid=${commentparameter.id})}" method="POST">
                        <div class="form-group">
                            <button type="submit" class="btn">Like</button>
                        </div>
                        <p th:text="${commentparameter.likes}">likes</p>
                    </form>
                </div>
                <div class="col" style="background-color: darkseagreen">
                    <p th:text="${commentparameter.content}">Content</p>
                </div>
            </div>
        </span>

        <!--Fragment for general layout of skills-->
        <section th:fragment="skillformat(skillparameter)" class="container" style="padding:10px">
            <div class="row" style="background-color: darkgoldenrod;">
                <div class="col">
                    <p th:text="${skillparameter.description}">Skill description</p>
                </div>
            </div>
            <div th:each="recommendation : ${skillparameter.recommendations}">
                <div th:replace="fragments/board :: recommendationformat(recommendationparameter=${recommendation})"></div>
            </div>
            <div class="row" style="background-color: darkgoldenrod;">
                <span th:unless="${currentuser == currentprofileusername}">
                    <form th:action="@{/user/{username}/{skillid}(username=${skillparameter.user.username}, skillid=${skillparameter.id})}" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="recommendationdescription" placeholder="write recommendation"/>
                        </div>
                        <button type="submit" class="btn btn-default">Give recommendation!</button>
                
                    </form>
                </span>
            </div>
        </section>

        <!--Fragment for general layout of recommendations-->
        <span th:fragment="recommendationformat(recommendationparameter)">
            <div class="row" style="background-color: darkgoldenrod;">
                <div class="col-2" style="background-color: goldenrod;">
                    <div th:replace="fragments/connections :: link(username=${recommendationparameter.poster.username})">Poster</div>
                </div>
                <div class="col" style="background-color:goldenrod">
                    <p th:text="${recommendationparameter.description}">Recommendation description</p>
                </div>
                <div class="col-2" style="background-color: darkgoldenrod;"></div>
            </div>            
            <div class="row" style="background-color: darkgoldenrod;"></div>
        </span>

        <div th:fragment="receivedformat(requestparameter)">
            <td scope="col" th:text="${requestparameter.sender.account.username}">User</td>
            <td scope="col" th:text="Received">Received</td>
            <td>
                <form th:action="@{/connections/{requestid}/accept(requestid=${requestparameter.id})}" method="POST">
                    <button type="submit" class="btn btn-default">Accept</button>
                </form>
            </td>
            <td>
                <form th:action="@{/connections/{requestid}/decline(requestid=${requestparameter.id})}" method="POST">
                    <button type="submit" class="btn btn-default">Decline</button>
                </form>
            </td>
        </div>

        <div th:fragment="sentformat(requestparameter)">
            <td scope="col" th:text="${requestparameter.receiver.account.username}">User</td>
            <td scope="col" th:text="Sent">Sent</td>
        </div>

        <div th:fragment="connectionformat(connectionparameter)">
            <td scope="col" th:text="${connectionparameter}">Username</td>
            <td>
                <form th:action="@{/connections/{username}/remove(username=${connectionparameter})}" method="POST">
                    <button type="submit" class="btn btn-default">Remove connection</button>
                </form>
            </td>
        </div>
    </body>