<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Application home')" lang="en">
        <meta charset="UTF-8" />
        <title>Home</title>
    </head>
    <body>
        <div th:fragment="nasmjumbotron">
            <div class="jumbotron jumbotron-fluid bg-info text-white" style="margin-bottom:0px">
                <div class="container">
                    <h1 class="display-4 text-center"><strong>Not <em>another</em> social media...</strong></h1>
                </div>
            </div>
        </div>
        

        <div th:fragment="generalnavbarhome">
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(0, 77, 90);">
                <span class="navbar-brand" th:href="@{/home}">Not <em>another</em> social media...</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" th:href="@{/home}">Home</a>
                        <a class="nav-item nav-link" th:href="@{/user}">Profile</a>
                        <a class="nav-item nav-link" th:href="@{/settings}">Settings</a>
                        <a class="nav-item nav-link" th:href="@{/connections}">Connections</a>
                    </div>
                    <div class="navbar-nav ml-auto">
                        <a th:href="@{/logout}" class="btn btn-dark text-white">Logout</a>
                    </div>
                </div>
                
            </nav>
        </div>

        <div th:fragment="generalnavbarprofile">
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(0, 77, 90);">
                <span class="navbar-brand" th:href="@{/home}">Not <em>another</em> social media...</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" th:href="@{/home}">Home</a>
                        <a class="nav-item nav-link active" th:href="@{/user}">Profile</a>
                        <a class="nav-item nav-link" th:href="@{/connections}">Connections</a>
                        <a class="nav-item nav-link" th:href="@{/settings}">Settings</a>                                         
                    </div>
                    <div class="navbar-nav ml-auto">
                        <a th:href="@{/logout}" class="btn btn-dark text-white">Logout</a>
                    </div>
                </div>
                
            </nav>
        </div>

        <div th:fragment="generalnavbarsettings">
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(0, 77, 90);">
                <span class="navbar-brand" th:href="@{/home}">Not <em>another</em> social media...</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" th:href="@{/home}">Home</a>
                        <a class="nav-item nav-link" th:href="@{/user}">Profile</a>
                        <a class="nav-item nav-link" th:href="@{/connections}">Connections</a>
                        <a class="nav-item nav-link active" th:href="@{/settings}">Settings</a>                      
                    </div>
                    <div class="navbar-nav ml-auto">
                        <a th:href="@{/logout}" class="btn btn-dark text-white">Logout</a>
                    </div>
                </div>
                
            </nav>
        </div>

        <div th:fragment="generalnavbarconnections">
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(0, 77, 90);">
                <span class="navbar-brand" th:href="@{/home}">Not <em>another</em> social media...</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" th:href="@{/home}">Home</a>
                        <a class="nav-item nav-link" th:href="@{/user}">Profile</a>
                        <a class="nav-item nav-link active" th:href="@{/connections}">Connections</a>
                        <a class="nav-item nav-link" th:href="@{/settings}">Settings</a>                     
                    </div>
                    <div class="navbar-nav ml-auto">
                        <a th:href="@{/logout}" class="btn btn-dark text-white">Logout</a>
                    </div>
                </div>
                
            </nav>
        </div>
        <span th:fragment="links">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        </span>
    </body>