<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Application home')" lang="en">
        <meta charset="UTF-8" />
        <title>Home</title>
    </head>
    
    <body>
        <a th:href="@{/user/{currentusername}(currentusername=${currentuser})}">Go to your profile</a>
        
            <div th:each="post : ${posts}">
                <div th:replace="fragments/board :: postformat(postparameter=${post})">Post</div>
            </div>
       
        <form th:action="@{/home}" method="POST">
            <input type="text" name="content"/>
            <input type="submit" value="Post!"/>
        </form>
    </body>
</html>