<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Application homepage</title>
    </head>
    <body>
        <ul>
            <div th:each="post : ${posts}">
                <div th:text="${#temporals.format(post.timestamp, 'yyyy-MM-dd HH:mm')}">timestamp</div>
                <div th:text="${post.content}">content</div>
            <div>
        </ul>

        <form th:action="@{/home}" method="POST">
            <input type="text" name="content"/>
            <input type="submit" value="Post!"/>
        </form>
    </body>
</html>