<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title=${currentprofileusername})"></head>
        <title>Home</title>
    </head>
    <body>
        <span th:if="${currentprofileusername == currentuser}">
            <form th:action="@{/profile/postskill}" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="skilldescription" placeholder="Write a description of your skill here"/>
                </div>
                <button type="submit" class="btn btn-default">Post skill</button>
            </form>
        </span>
        <div th:each="skill : ${currentprofileskills}">
            <div th:replace="fragments/board :: skillformat(skillparameter=${skill})"></div>
        </div>
    </body>
   