<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title=${username})"></head>
        <title>Username</title>
    </head>
    <body>
        <div th:replace="fragments/general :: generalnavbarprofile"></div>
        
        <div class="container-flex text-center text-white mb-3" style="background-color:rgb(0, 160, 160);padding: 10px;">
            <div class="row mb-2">
                <div class="col">                  
                    <img class="img-responsive img-thumbnail" th:src="@{/user/{pusername}/profilepic(pusername=${username})}" style="object-fit: cover; overflow: hidden; height: 10vw; width: 10vw;"/>
                <h1 class="display-4"><strong><span th:text="${currentprofileaccount.firstName}">firstname</span> <span th:text="${currentprofileaccount.lastName}"></span></strong></h1>
                    <h3>@<span th:text="${username}"></span></h3>
                </div>
                
            </div>
        </div>
        <div th:if="${currentuser == currentprofileaccount.username}">
        <div class="container">
            <div class="row mb-2">
                <div class="col text-center">
                   <h5>Post about a skill, qualification or competence:</h5> 
                </div>
            </div>
                <div class="row text-center">
                    <div class="col">
                        <form th:action="@{/user/postskill}" method="POST">
                            <div class="form-group">
                                <textarea type="text" class="form-control" name="skilldescription" placeholder="Write a description of your skill here"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-dark">Post skill</button>
                            </div>    
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb-3">
            <h3 class="text-center mb-3">@<span th:text="${currentprofileaccount.username}">username</span>'s most recommended skills:</h3>
            <div class="row mb-3">
                
                <div class="col text-center" th:each="skill : ${top3skills}">
                    <div th:replace="fragments/board :: skillformat(skillparameter=${skill})"></div>
                </div>
            </div>
            <h4 class="text-center mb-3">Other noteworthy skills:</h4>
            <div class="row">
                <div class="col-4 text-center" th:each="skill : ${otherskills}">
                    <div th:replace="fragments/board :: skillformat(skillparameter=${skill})"></div>
                </div>
            </div>  
            
        </div>
        
        <div class="col-2">
            
        </div>


        <span th:if="${username == currentuser}">
            
        </span>
        <span th:unless="${username == currentuser}">
            <form th:action="@{/{username}/requestconnection(username=${username})}" method="POST">
                <button type="submit" class="btn btn-default">Add connection</button> 
            </form>
        </span>
        
        
        


        <div th:replace="fragments/general :: links"></div>
    </body>
   